/*Nested unordered list within the nav*/

nav ul ul {
	display: none;
	
}

nav ul li:hover > ul {
		display: block;
}
  /*This is the true ul element which holds the other nested ul elements*/
nav ul {
	background: #efefef; 
	background: linear-gradient(#977777, white);
	box-shadow: 0px 5px 10px #D18522;
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none; /*This removes the bullets*/
	position: relative;
	display: inline-table;
	text-align: center;
	
}

nav ul:after {
content: ""; clear: both; display: block;
}
  /* These are the list items inside the ul element*/
nav ul li {
float: left; /*Gets the list items side by side*/
margin: 0px;
border: 1px solid grey;
	
	position:relative;/*this is where the error was now corrected*/
}
nav a:hover{
background-position:0px -40px;
background-image: url("images/texture-firebrick.jpg");
}
	 
   /*This has a image inserted show over the page number*/
nav ul li:hover {
		/*background: #D85F84;*/
background-image: url("images/texture-firebrick.jpg");
}       /*Behind the image is the text page number in white*/
		
nav ul li:hover a {
color: #fff;
			
}
	/*This is the inner nav colour*/
nav ul li a {
font-family: verdana, arial;
display: block; /*Tells the browser to treat the a-link element as a block you can set the width
		the width if needed allows the mouse to point anywhere in the box to go to another link so its the same with as its list items*/
padding: 15px 45px;
color: #906E2B; 
text-decoration: none; 
background-image: url("images/main3 image.jpe");                            
	}
	   /*takes away any under-line bar*
	    /*this is the section for centring the text and here you can add a background image* /
	   
	/*This is the inner inner nav colour yellow-brown place picture here*/
nav ul ul {
background: #A18729; border-radius: 0px; padding: 0;
position: absolute; top: 100%;
z-index:10; /*This will raise the inner inner nav higher than the main content so image
	 is above the main pictures etc the z-index raises its position*/
}
nav ul ul li {
float: none; 
border-top: 1px solid #6b727c;
border-bottom: 1px solid #575f6a;
position: relative;
}
nav ul ul li a {
padding: 15px 40px;
color: #fff;
}	
     /*This is the inner inner inner nav colour*/
     /*This is the hover over the drop box menu for each a-link topic dark grey colour*/
nav ul ul li a:hover {
background: #4b545f;
color: black;
}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

.button { z-index: 0;} /*z position moves the review button above or below other elements*/

/*My Code*/

* {
margin: 0 0 0 0; /*This maintains the fluidity of the site*/
padding: 0 0 0 0
}
/*The body has a deep sky blue colour*/
body {
max-width: 1200px;
margin: 0 auto;
color: #0e0e0e;
background-image: url("images/Vector image.jpe");
background-color: #cccccc;
font-family: Arial, verdana, tahoma , serif;
font-size: 18px;
font-style: normal;
font-weight: 400
}

/*The container has a shaded grey background colour*/
div.container {
width: 96%;
float: left;
padding: 1% 2%;
margin: 1% 0;
border-radius: 10px;
background: #C4BFBF;
/*background: linear-gradient(black, white);*/
/*This is the container box of the screen has amber box shadow*/
box-shadow: 5px 5px 10px #D18522;
height: 300px;




}
/*This is the 1st main header at the top of the page Black and white trumpet image*/
header {
width: 100%;
background: url('images/BlackWhiteimage.jpe');
float: left;
margin: 1% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #202020
}
/*Text colour white within the 1st main header background of h1*/
header h1 {
color:white;
font-size: 28px;
text-align: center;
padding: 4% 1%;
text-shadow: 5px 5px 10px black
}

/*This is the 3rd main content colour grad that has the text & picture*/
#main {
width:100%;
background: url('images/main image home.jpe');
float: left;
margin: 1% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #D18522;
text-align: center;/*browsers ignoring auto margins, they will follow “text-align: center”*/
text-indent: 16px;
clear: both;
display: inline-block;
font-size: 18px;
overflow:auto;
}



/*this is the video container holding the iframe which will re-size auto wise*/
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 35px;
height: 0;
overflow: auto;
margin-left:auto;
margin-right:auto;
width: 50em;
}
.video-container iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
/*youtube embebbed video*/
video{
height:auto;
width:49%;
}

.video_poster{
width:49%;
height:auto;
background-size:49% auto;
background-image:url(images/5060image1a.jpg);
}

.iframe1{
position: relative;
right: -220px;
top:-120px;
}

/*Guitar image*/

/*class align right and left text in the footer organised into position on the page*/
.alignleft {
float: left;
margin-left:2%;
width: 80px;
}


.alignright {
	float: right;
    margin-left:0%; 
}

/*Text within main content h1*/
#main h1 {
font-size : 30px;
text-align : center;
color : black;
margin: 2% 0 }
/*Paragraphs within main content h1*/
#main p{
text-indent: 16px;
margin: 2% 10%;
clear: both;	
text-align:left;
font-size: 18px;
font-weight:bold;
}
.BoldHeadingRed5 {
font-size: 20px;
font-weight:bold;
text-align:center;
color:#802E2E;	
}

.BoldHeadingBlue{	
font-weight: bold;
color:#0F3C5A;
text-align:center;
}
.BoldHeadingBlue1{
font-weight: bold;
color:#0F3C5A;
}


.CommentYellow{
color:#6A4D09;
text-align: center;
font-weight:bold;
}
.mid2{
text-align:center;
font-weight:bold;
}
.h3AlignCenter{
text-align:center;	
font-weight:bold;
font-size: 22px;

}


#main img { /*Change here*/
margin: 7% 7%;
border-radius: 5px;
border: solid #000000 1px;
box-shadow: 4px 4px 8px #202020;
display: inline-block;
}

#main img{
display:inline-block;
max-width:100%;
position:relative;
}

/* .image on its own will have its parent values of fluidity until you
place the main div in front of as its the parent class*/


.image2{
float:right;
width: 60%;
position: relative;
top: -10px;
left: -20px; /*This moves the image left*/
height:auto;
width:850px;
}


.overflow{
overflow:auto;
float:right;
position: relative;
top: -50px;
width:120%;
right:-40%;



}	
.overflow1{
overflow:auto;
float:left;
position: relative;
top: -233px;
width:100%;
right:-60%;



}	
/*This is the footer bar*/
#footer { /*type in again to correct paste and copy so text can be re-aligned*/
width: 100%;
background: #979798;
float: left;
margin: 0 0 .5% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #D18522;
font-size: 18px;
overflow:hidden;
}

/*This is the reference to the <a href=""> in nav for html footer page*/
address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020
}


/* These are the actual links*/
a {
display: block;
width: 186px;
text-decoration: none !important;
/*changes a-links spacing in navigation bar and make its length longer*/
}

nav a:link    {color:black; background-color:transparent;
 text-decoration:none}
nav a:visited {color:black ; background-color:transparent;
 text-decoration:none}
nav a:hover   {color:blue; background-color:transparent;
 text-decoration:underline}
nav a:active  {color:yellow; background-color:transparent;
 text-decoration:underline}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}


nav ul{
width: 97%;/*changes the nav width*/
background: linear-gradient(#977777, white);
float: left;
border-radius: 10px;
box-shadow: 5px 5px 10px #D18522}

a.button {
width: 89px; /*This is where you change the review button size to match the text*/
display: block;
float: left;
background: grey;
box-shadow: -8px -8px 32px #990000 inset;
border: solid #990000 1px;
border-radius: 45px;
height: 20px;
position: absolute;/*This fixed the review button*/
}
a.button {
font-family: arial;
color: #ffffff;
text-decoration: none;
text-shadow: 1px 1px 1px #0e0e0e;
padding: .5% .5%;
margin: 0 .5%;
text-align:left;
}
a:hover.button {
color: white;
text-decoration: none;
box-shadow: -8px -8px 32px grey inset;
border: solid black 2px;
}


/*New image code below*/
.image-gallery { margin: 10px 0 25px 0;
/*overflow: hidden; not required but does hide overflow over text when used*/
 float:left;
 }

figure { 
width: 180px; /*move this to re-size the caption*/
float: left; 
margin: 0 20px 0 0; 
background: white;
border: 10px solid white; 
-webkit-box-shadow: 0 3px 10px #ccc; 
-moz-box-shadow: 0 3px 10px #ccc;
-webkit-transform: rotate(5deg); 
-moz-transform: rotate(5deg);
-webkit-transition: all 0.7s ease; 
-moz-transition: all 1s ease;
position: relative;
bottom: -60px; 
left: 370px;/*These 2 move the whole caption and image together at once*/
overflow: hidden;
}

figcaption { 
text-align: center; 
display: block; 
font-size: 12px; 
font-style: italic;
overflow: hidden;
}

figure img { 
width: 100%; /* Scale down */
}

/*new code 9 nov image can be amended here and I need to adjust the text next*/

figure img {
    /* Set the crop location by shifting the image inside the caption
     * up by 70px and to the right by 30px.
     */
position: relative;
top: 0px;
left: -10px;
right:20px;
    /* Scale the image as you normally would. */
width: 140px;
height: 80px;
}



figure:hover {
-webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}

figure:focus {
outline: none;
-webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
z-index: 9999; /*Image hovers over the caption*/
}


















